.gridBoxes {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
      "sidebar header"
      "sidebar body"
  }
  
  .gridBox1 {
    grid-area: header;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .gridBox2 {
    grid-area: sidebar;
    background-color: blue;
    min-height: 100%;
  }
  
  .gridBox3 {
    grid-area: body;
    background-color: gray;
  }
  
  .gridBox4 {
    grid-area: notifications;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .gridBox5 {
    grid-area: users;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  