.gridBoxes {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
      "sidebar header header"
      "sidebar body notifications";
  }

  
  .gridBox1 {
    grid-area: header;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .gridBox2 {
    grid-area: sidebar;
    background-color: blue;
    min-height: 100%;

  }
  
  .gridBox3 {
    grid-area: body;
    background-color: gray;
    overflow: auto;
  }
  
  .gridBox4 {
    grid-area: notifications;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .dashBoard {
    font-size: 2vw;
    color:whitesmoke;
    margin-left: 5%;
    margin-bottom: 20%;
    margin-top: 5%;
  }

  .sidebar ul li {
    font-size: 2vw;
    color: whitesmoke;
    margin-bottom: 10%;
    margin-left: 8%;
  }
  
  .sidebar ul li a {
    color: inherit;
    text-decoration: none;
  }
  
  .sidebar ul li a:visited {
    color: inherit;
  }
  
  .sidebar ul li a:active {
    color: inherit;
  }
  
  .sidebar ul li a:hover {
    color: inherit;
  }
  
  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flexbox-item {
    flex: 0 0 calc(50% - 1rem);
    margin: 0.5rem;
    background-color: white;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 1rem;
  }
  