.gridBoxes {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
      "sidebar header header"
      "sidebar body notifications";
  }

  
  .gridBox1 {
    grid-area: header;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .gridBox2 {
    grid-area: sidebar;
    background-color: blue;
    min-height: 100%;

  }
  
  .gridBox3 {
    grid-area: body;
    background-color: gray;
  }
  
  .gridBox4 {
    grid-area: notifications;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .dashBoard {
    font-size: 2rem;
    color:whitesmoke;
  }

  .sidebar ul li {
    font-size: 2rem;
    color: whitesmoke;
  }
  
  .sidebar ul li a {
    color: inherit;
    text-decoration: none;
  }
  
  .sidebar ul li a:visited {
    color: inherit;
  }
  
  .sidebar ul li a:active {
    color: inherit;
  }
  
  .sidebar ul li a:hover {
    color: inherit;
  }
  